body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: black;
    color: white;
}

h1{
    color:aqua;
}

.container{
    display: flexbox;
    flex-direction: column;
    background-color: #2a5556;
    border-radius: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding:15px;
    box-shadow: 0 0 10px rgba(61, 12, 222, 0.8);
}

input {
    width: 80px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}
